.h1{
    background-color: lightblue;
    color: brown;
    font-style: italic;
}
.p{
    background-color: antiquewhite;
    color: black;
    text-align: center;
    border-radius: 20px;
    line-height: 20px;
    padding: 50px;
    line-height: 20px;
    text-decoration: double;
}

.table{
    
    background-image: url(img/back1.jpg);
    background-position: center ;
    background-repeat: no-repeat;

}

body{
    background-image: url(img/back.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position :center;
    
}

.table1{
   border-color: black;
   

}